body {
  text-align: center;
  background-color: #369;
  padding: 0; margin: 0;
  overflow-x: hidden;
}
#figure {
  display: inline-block;
}
.show #figure {
  
  position: absolute;
  
  width: 1150px;
  left: 50%;
  margin-left: -648px;

  height: 880px;
  top: 50%;
  margin-top: -520px;
  
  background-image: url('https://trbl.io/static/paper.jpg');
  padding-top: 145px;
  padding-left: 185px;
  
}
.draw img {
  position: relative;
  height: 25%;
}
.show canvas {
  position: relative;
  height: 25.1%;
  border: none !important;
}
.selected {
  background-color: white;
  height: 25%;
}
.selected img {
  opacity: 0;
}
#instructions {
  z-index: 1000;
  text-align: left;
  position:absolute;
  right: 32px;
  bottom: 32px;
  background-color: #fff;
  padding: 16px;
  border: 1px solid #666;
  width: 15%;
}
#instructions div {
  margin-top: 32px;
  text-align: right;
}

#disclaimer {
  font-size: 0.8em;
  bottom: 4px;
  left: 4px;
  position: absolute;
  z-index: 1000;
}
