body {
  text-align: center;
  background-color: #369;
  padding: 0; margin: 0;
  overflow-x: hidden;
}
#figure {
  display: inline-block;
}
.draw img {
  position: relative;
  height: 25%;
}
.show canvas {
  position: relative;
  height: 25.1%;
}
.selected {
  background-color: white;
  height: 25%;
}
.selected img {
  opacity: 0;
}
#instructions {
  z-index: 1000;
  text-align: left;
  position:absolute;
  right: 32px;
  bottom: 32px;
  background-color: #fff;
  padding: 16px;
  border: 1px solid #666;
  width: 15%;
}
#instructions div {
  margin-top: 32px;
  text-align: right;
}
